



{% macro notification_group(user_list, action='', post_title='') -%}

{% if user_list|length == 1 %}
     <b>{{ user_list.0 }}</b>
{% elif user_list|length == 2 %}
      <b>{{ user_list.0 }}</b> and <b>{{ user_list.1 }}</b>
{% else %}
      <b>{{ user_list.0 }}, {{ user_list.1 }}</b> and {{ user_list|length - 2 }} others
{% endif %}
 {{ action }} <b> your post</b>: '{{ post_title }}'

{%- endmacro %}