.circle {
  position: absolute;
  top: -7px;
  right: -10px;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  color: #fff;
  line-height: 100%;
  font-size: 75%;
  text-align: center;
  vertical-align: center;
  background: #ff0000;
}

.logo {
    margin-left: 10px;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.logo img{
    display: block;
    height: 100%;
    width: 100%;
}

.navicon {
    margin-top: 15px;
}
.notification-bubble{
    font-size: 120%;
    float: right;
    margin-right: 150px;

}

.popover {max-width:400px;}

