<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>404 - page not found</title>
</head>
<body bgcolor="#ffffff">
<center>
<h1>404 - Page Not Found</h1>
<img style="width: 50%; height: 50%;" src="{{ url_for('static', filename='img/error-404.jpg') }}" />
</center>
</body>
</html>