<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>500 - server error</title>
</head>
<body bgcolor="#ffffff">
<center>
<h1>500 - Server Error</h1>
<img style="width: 50%; height: 50%;" src="{{ url_for('static', filename='img/error-500.png') }}" />
</center>
</body>
</html>