<!DOCTYPE html>
{% import 'partials/notification_partial.html' as notification_partial %}
<html>
<head lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">

$(document).ready(function(){
    $("[data-toggle=popover]").each(function(i, obj) {

        $(this).popover({
          html: true,
          content: function() {
            var id = $(this).attr('id')
            console.log('popover-content-' + id);
            return $('#popover-content-' + id).html();
          }
        }).on('shown.bs.popover', function () {
           $("#number-circle").hide();
        });
    });
});


</script>
<meta charset="UTF-8">
<title>Activity Notifications</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary ">
    <div class="navbar-brand navbar-left logo">
        <img src="{{ url_for('static', filename='img/maxbook.png') }}" />
    </div>
    <span id="notification-bubble" data-container="body" data-toggle="popover" data-placement="bottom" class="glyphicon glyphicon-globe navicon notification-bubble" >
        <span id="number-circle" class = "circle">{{ total_count }}</span>
    </span>
</nav>

<div id="popover-content-notification-bubble" class="hide">
{% if like_users|length %}
{{ notification_partial.notification_group(user_list=like_users, action="liked", post_title=post_title)|truncate(200) }}
<hr>
{% endif %}
{% if comment_users|length %}
{{ notification_partial.notification_group(user_list=comment_users, action="commented on", post_title=post_title)|truncate(200) }}
<hr>
{% endif %}
 </div>
</body>
</html>